
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.option-box .option-icon,
.dropdown-menu > li > a:hover,
.carousel-indicators .active
{
     background-color: #ec1d1d;
}


.option-box .options,
.carousel-indicators li,
.testmonials .carousel-indicators .active
{
    border: 3px solid #ec1d1d;
}


.navbar-brand span,
.testmonials span
{
    color:#ec1d1d  ;
}
